<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.utssdk.linphone">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_CONNECT"
        tools:targetApi="s" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application>
        <service
            android:name=".service.LinphoneForegroundService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="phoneCall" />

        <meta-data
            android:name="com.utssdk.linphone.NOTIFICATION_CHANNEL_ID"
            android:value="@string/linphone_notification_channel_id" />
        <meta-data
            android:name="com.utssdk.linphone.NOTIFICATION_CHANNEL_NAME"
            android:value="@string/linphone_notification_channel_name" />
        <meta-data
            android:name="com.utssdk.linphone.NOTIFICATION_CHANNEL_DESCRIPTION"
            android:value="@string/linphone_notification_channel_description" />
    </application>
</manifest>
